body {
    background: black;
    color: white;
    font-family: Roboto sans-serif;
}

.select span.main {
    border: 1px solid white;
    display: inline-block;
    min-height: 20px;
    min-width: 70px;
    cursor: pointer;
}

.items {
    position: absolute;
    padding: 5px;
    border: 1px solid white;
    cursor: pointer;
}

.item.select {
    background: white;
    color: black;
}